@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "cyberpunk";
  --color-base-100: theme(colors.black);
  --color-base-200: theme(colors.black);
  --color-base-300: theme(colors.black);
  --color-base-content: #e1d1b5;
  --color-primary: #d03726;
  --color-primary-content: theme(colors.black);
  --color-secondary: #f0a33a;
  --color-secondary-content: #e1d1b5;
  --color-accent: #f0a33a;
  --color-accent-content: #e1d1b5;
  --color-neutral: #e1d1b5;
  --color-neutral-content: theme(colors.black);
  --color-info: theme(colors.yellow.400);
  --color-info-content: #e1d1b5;
  --color-success: #f0a33a;
  --color-success-content: #e1d1b5;
  --color-warning: theme(colors.yellow.500);
  --color-warning-content: #e1d1b5;
  --color-error: theme(colors.red.700);
  --color-error-content: #e1d1b5;
}

@theme {
  --font-heading: "Press Start 2P", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-neutral font-heading uppercase;
  /** text outline effect */
  text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black,
    -0.08em -0.08em black,
    -0.08em 0.08em black,
    0.08em -0.08em black,
    0.05em 0.05em black;
}
